https://www.hackerrank.com/challenges/revising-the-select-query

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [2]:
engine = create_engine('mysql+pymysql://root@localhost/hackerrank')

In [3]:
pd.read_sql('''
    SELECT *
    FROM city
    WHERE countrycode = 'USA'
    AND population > 100000;
''', engine)

     id           name countrycode    district  population
0  3878     Scottsdale         USA     Arizona      202705
1  3965         Corona         USA  California      124966
2  3973        Concord         USA  California      121780
3  3977   Cedar Rapids         USA        Iowa      120758
4  3982  Coral Springs         USA     Florida      117549