https://www.hackerrank.com/challenges/revising-the-select-query-2

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [2]:
engine = create_engine('mysql+pymysql://root@localhost/hackerrank')

In [3]:
pd.read_sql('''
    SELECT name
    FROM city
    WHERE countrycode = 'USA'
    AND population > 120000;
''', engine)

           name
0    Scottsdale
1        Corona
2       Concord
3  Cedar Rapids